@model IEnumerable<Spedizioni.Models.Details>
<hr />
<div>
    @if (Model.Count() > 0)
    {
    <h4 class="text-center">Dettagli spedizione</h4>


        <table class="table table-hover table-bordered container text-center">
            <tr>
                <th>Stato</th>
                <th>Posizione attuale</th>
                <th>Descrizione</th>
                <th>Data aggiornamento</th>
                <th>Gestione</th>
            </tr>
            @foreach (Spedizioni.Models.Details s in Model)
            {
                <tr>
                    <td>@s.State</td>
                    <td>@s.CurrentLocation</td>
                    <td>@s.Description</td>
                    <td>@s.UpdateTime</td>
                    <td>
                        @Html.ActionLink("✒", "EditDetail", "Admin", new { id = s.IdState }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("🗑", "DeleteDetail", "Admin", new { id = s.IdState }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4 class="text-center">Non ci sono dettagli per la spedizione</h4>
    }


</div>