@model Spedizioni.Models.Shipments

@{
    ViewBag.Title = "EditShipment";
}

<h1>Modifica spedizione</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container containerForm">
        <div class="text-center">
            <p class="control-label">Inviato da: @Model.sender.Surname @Model.sender.Name </p>
        </div>
        <div class="row row-cols-1 row-cols-md-2">

            @Html.Hidden("IdShipping")
            @Html.HiddenFor(model => model.IdShipping)

            <div class="form-group">
                @Html.LabelFor(model => model.RecipientName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.RecipientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecipientName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DestinationCity, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.DestinationCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DestinationCity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DestinationAddress, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.DestinationAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DestinationAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ShippingDate, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.ShippingDate, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "data" })
                    @Html.ValidationMessageFor(model => model.ShippingDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.DeliveryDate, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "data" })
                    @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Modifica Spedizione" class="btn btn-ok w-100" />
        </div>
        @if (ViewBag.messageValid != null)
        {
            <div>
                <p class="alert alert-success mt-2 text-center">@ViewBag.messageValid</p>
            </div>
        }
        @if (ViewBag.messageError != null)
        {
            <div>
                <p class="alert alert-danger mt-2 text-center">@ViewBag.messageError</p>
            </div>
        }
    </div>
}